# VSCode
.vscode
# CBuild main gitnore
build/mull/**
build/mull_lib/**
cache
# CBuild dev gitnore
scripts
src/main.cpp
src/test.hpp
src/test.cpp
CBuild.run
CBuild build system prerequirments.rtf
CBuild/CBuild/libCBuild.so
Makefile
private_gpg_key.asc