Package: libcbuild
Version: 5.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: WolodiaM <w_melnyk@outlook.com>
Description: Build system for c++ that use scripts writen in c++ ;).
 This is a build system that allow creating simple or not build scripts for
 building c++ code.
 It is easy retargetable, if you can write a build procces (what command and
 when need to be called), to any other language.
 It allow to use full c++ api and any libraries in build scripts.
Depends: libc6 (>= 2.17), libstdc++6 (>= 4.9), libssl-dev
